//MageOS_Theme module adds svg assets for this specific theme into var/view_preprocessed folder
@internal-form-select-image: '@{baseDir}images/backgrounds/form-select.svg';
@internal-form-datalist-image: '@{baseDir}images/backgrounds/form-datalist.svg';
@internal-form-radio-image: '@{baseDir}images/backgrounds/form-radio.svg';
@internal-form-checkbox-image: '@{baseDir}images/backgrounds/form-checkbox.svg';
@internal-form-checkbox-indeterminate-image: '@{baseDir}images/backgrounds/form-checkbox-indeterminate.svg';
@internal-divider-icon-image: "@{baseDir}images/backgrounds/divider-icon.svg";
@internal-form-select-image: "@{baseDir}images/backgrounds/form-select.svg";
@internal-form-datalist-image: "@{baseDir}images/backgrounds/form-datalist.svg";
@internal-form-radio-image: "@{baseDir}images/backgrounds/form-radio.svg";
@internal-form-checkbox-image: "@{baseDir}images/backgrounds/form-checkbox.svg";
@internal-form-checkbox-indeterminate-image: "@{baseDir}images/backgrounds/form-checkbox-indeterminate.svg";
@internal-list-bullet-image: "@{baseDir}/images/backgrounds/list-bullet.svg";
